@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
}


header {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: grid;
    grid-template-columns: 165px auto auto auto;
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.nav-grid-item {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
    row-gap: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Comic Neue';
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

nav li {
    margin-right: 25px;
    margin-left: 7.5px;
}

.li-fontsize {
    font-size: 14px;
}

.button-li {
    background-color: #fcbc0c;
    padding: 10px;
    border: none;
    font-family: 'Comic Neue';
    border-radius: 4px;
}

.logo {
    color: #fcbc0c;
    width:100px;
    height: 100px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-container {
    display: grid;
    grid-template-rows: 2;
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-grid-item li {
    display: flex;
    list-style: none;
    font-family: 'Comic Neue';
    font-size: 16px;
    padding-bottom: 7.5px;
}

.footer-grid-item {
    display: flex;
    justify-content: space-between;
}

/* drop down menu */
.menu {
    position: fixed;
    width: 100%;
    height: 490px;
    background: #ffffff;
    margin-top: 560px;
    /*overflow: hidden;*/
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.1s;
    box-shadow: 2px 2px 2px 2px rgba(0.08, 0.08, 0.08, 0.08);
    border: 0.5px solid rgb(202, 200, 200);
}

.chevron {
    transform: rotateX(0deg); /* Initial rotation angle */
    transform-origin: center; /* Set the rotation origin to the top center */
    transition: opacity 0.1s, transform 0.5s; /
}

.menu img {
    width: 75%;
}

#check {
    display: none;
}

#check:checked ~ .menu {
    height: 450px;
    opacity: 1;
}

#check:checked ~ .chevron {
    transform: rotateX(180deg);
}

#check:checked ~ .menu-container li:first-child { /*dette virker ikke??*/
    font-weight: bold;
}


/*styler sådan at dropdwn tingen ligger ved siden af "vores menu" + mellemrum til "bestil"*/ 
.nav-container .nav-grid-item ul li:nth-child(1) {
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
}

.menu-container label {
    margin: 0;
    margin-right: 22px;
    padding: 0;
}



.midt{
    margin: 178px;
    display: flex;
    margin-top: 3   0px;
    
}

.midtbillede1{
height: 300px;
width: 700px;
}

h3{
    padding-top: 13px;
    padding-left: 25px;
    font-size: 30px;
    font-family: 'Comic Neue';
}
.tekstting{
    padding-left: 25px;
    padding-top: 12px;
    font-family: 'Comic Neue';
}

.buttonmcd{
    width: 150px;
    height: 50px;
    background-color: #fcbc0c;
    text-align: center;
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 40px;
}
.buttontekst{
    padding-top: 15px;
    font-family: 'Comic Neue';
}

.linje{
   padding-top: 20px;
}

.socialmedialinje{
    display: flex;
    flex-direction: row;
}

.icons{
padding: 10px;
}

.iconsapps{
    width: 255px;
    height: 35;
    margin-left: 600px;
}

.bottomfooter{
    display: flex;
    flex-direction: row;
}

.tekstnederst{
    font-size: 15px;
    padding-right: 25px;
    padding-top: 25px;
}

.nedrelogo{
    padding-top: 22px;
    margin-left: 380px;
    width: 25px;
    height: 25px;
}

.copyright{
    margin-left: 2px;
    padding-top: 25px;
}