@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

<<<<<<< Updated upstream
body {
    margin-left: 175px;
    margin-right: 175px;
}

.nav-container {
    display: grid;
    grid-template-columns: 165px auto auto auto;
}

.nav-grid-item {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
    row-gap: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Comic Neue';
    font-weight: 700;
    font-size: 1pc;
}

nav li {
    margin-right: 25px;
}

.logo {
    color: #fcbc0c;
    width:100px;
    height: 100px;
    padding-top: 30px;
=======
nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.logo{
    color: #fcbc0c;
    font-family: 
>>>>>>> Stashed changes
}