@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


header {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: grid;
    grid-template-columns: 165px auto auto auto;
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.nav-grid-item {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
    row-gap: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Comic Neue';
    font-size: 16px;
    align-items: center;
}

nav li {
    margin-right: 25px;
    margin-left: 7.5px;
}

.li-fontsize {
    font-size: 14px;
}

.button-li {
    background-color: #fcbc0c;
    padding: 10px;
    border: none;
    font-family: 'Comic Neue';
}

.logo {
    color: #fcbc0c;
    width:100px;
    height: 100px;
}


h2 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-container {
    display: grid;
    grid-template-rows: 2;
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-grid-item li {
    display: flex;
    list-style: none;
    font-family: 'Comic Neue';
    font-size: 16px;
    padding-bottom: 7.5px;
}

.footer-grid-item {
    display: flex;
    justify-content: space-between;
}